@model Prueba_Bolsa_Empleados.Models.Empleado

@{
    ViewBag.Title = "EliminarEmpleado";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<body style="background-color:aliceblue">
</body>
<div>

    <h1 style="color:red">Eliminar Empleado</h1>
    <hr />
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contraseña)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dirreccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dirreccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idpais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idpais)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index1")
        </div>
    }
</div>
