@model Prueba_Bolsa_Empleados.Models.Publicacion

@{
    ViewBag.Title = "obtener_diseñado_fecha";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>obtener_diseñado_fecha</h2>

<div>
    <h4>Publicacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idPublicaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPublicaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idpais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idpais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idAdministrador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idAdministrador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Compañia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Compañia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Horario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Publicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Publicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url_Pagina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url_Pagina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dirreccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dirreccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
