@model IEnumerable<Prueba_Bolsa_Empleados.Models.Publicacion>


@{Layout = "~/Views/Shared/Layout.cshtml";
    if (Session["IDAdmin"] == null)
    {
        Response.Redirect("~/Autenticacion/LoginAdmin");
    }
}

<h1 style="text-align:center">Area de Diseñador</h1>
<hr />
<br />


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Area de Diseñador</title>
</head>

<body>
    <form action="obtener_diseñado_fecha/Fecha_Publicacion">
        <input style="width:50%" type="date" name="Fecha_Publicacion" id="Fecha_Publicacion" value="Fecha_Publicacion" />
        <button type="button" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-zoom-in"></span> Buscar
        </button>
    </form>
    <br />




    @foreach (var publicaciones in Model)
    {






        <div class="panel panel-primary col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">@publicaciones.Posicion </div>
                <div class="panel-body">
                    <img style="margin-left:30%" height="215" width="215" class="img-responsive" src="@publicaciones.Logo">
                    <p>Posicion: @publicaciones.Nombre_Compañia</p>
                    <p>Tipo de Horario: @publicaciones.Tipo_Horario</p>
                    <p>Url Pagina: <a href="@publicaciones.Url_Pagina" target="_blank">Nuestra Pagina</a></p>
                    <p>Direccion: @publicaciones.Dirreccion</p>
                    <p>Correo: @publicaciones.Correo</p>
                    <p>Fecha: @publicaciones.Fecha_Publicacion</p>

                    <p>
                        <form action="ActualizarDiseñador/@publicaciones.idPublicaciones">

                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-pencil"></span> ModificarPublicacion
                            </button>


                        </form>


                    </p>





                    <form action="EliminarDiseñado/@publicaciones.idPublicaciones">

                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span> Eliminar Publicacion
                        </button>


                    </form>


                </div>


            </div>

        </div>






    }
    <a href='@Url.Action("Index1")'>
        <button style="margin-top:60%;margin-right:40%" type="button" class="btn btn-info btn-sm" value="submit">
            <span class="glyphicon glyphicon-chevron-left"></span> Volver Al menu Principal
        </button>
    </a>



</body>
</html>    



 

    


   